<!-- app/views/invites -->

<h1>Trip from <%= @trip.start %> to <%= @trip.destination %></h1>

<h2>Here's a list of people coming on the trip</h2>
<% @invites.each do |invite| %>
  <% if invite.trip_id == @trip.id %>
      <p><%= link_to(invite.user.name, trip_invite_path(@trip, invite)) %></p>
  <% end %>
<% end %>

<%= link_to('Home', root_path) %>