<h1>Invitation Page</h1>

<%= render partial: "error", collection: @errors, as: "error" %>

<p>Type in a user's email to invite them to the trip list. We'll deal with non-existant users later.</p>

<%= render 'form' %>



<!-- if a user is already attending a trip, notify the trip leader -->
