<!-- apps/views/trips -->

<%= link_to('Home', root_path) %>



<h1>Create A Trip</h1>
<strong>Create a trip and start your adventure. You'll be able to add items and invite people on your trip.</strong><br/>

<!-- @trip is in both the new and create actions
when we render it under `new` there are no errrors
but if we render it under `create` there will be errors -->
<%= render 'error' %>

<%= render 'form' %>

