<div class="index">
  <div class="row index-container">
    <div class="small-12 columns">
        <h1>Welcome to TripCollaborator</h1>
        <p>TripCollaborator allows you to create adventures and add lists to them. Add items to the list so you don't forget anything! Soon you'll be able to add other users to your trip to create groups, and you'll be able to collaborate on the list items. No more wondering who's bringing what!</p>
      </div>
    </div>
  </div>
</div>


