<h1>Welcome to TripCollaborator</h1>
<p>TripCollaborator allows you to create adventures and add lists to them. Add items to the list so you don't forget anything! Soon you'll be able to add other users to your trip to create groups, and you'll be able to collaborate on the list items. No more wondering who's bringing what!</p>

<% if logged_in? %>
  <h3>Hi <%= current_user.name.capitalize %></h3>
  <a href="users/<%= current_user.id %>">My Account Page</a><br/>
  <a href="/trips/users/<%= current_user.id %>">View My Trips</a><br/>
  <a href="/trips/new">Create a New Trip</a><br/>
  <a href="/logout">Logout</a>
<% else %>
  <a href="users/new">Sign Up!</a><br/>
  <a href="session/new">Login</a><br/>
<% end %>




