<h1>Welcome to TripCollaborator </h1>

<% @users.each do |user| %>
  <ul>
    <li>User ID: <%= user.id %></li>
    <li>Name: <%= user.name.capitalize %></li>
    <li>Email: <%= user.email %></li>
  </ul>
<% end %>

<a href="/">Home</a>
