<!-- app/views/items -->
<a href="/">Home</a><br/>
<h1>My Items</h1>
<% @items.each do |item| %>
  <% if @current_user.id == item.user_id %>
    <% if @trip.id == item.trip_id %>
      <p>Item Name: <a href="items/<%= item.id %>"><%= item.name %></a></p>
      <p>Quantity: <%= item.quantity %></p>
      <p>Trip ID: <%= item.trip_id %></p>
    <% end %>
  <% end %>
<% end %>

<a href="/">Home</a><br/>

