<!-- make this an image and display on every page -->
<header>
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1>TripCollaborator</h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li><%= link_to "Sign Up", new_user_path %></li>
        <li><%= link_to "Login", session_new_path %></li>
      </ul>
    </section>
  </nav>
</header><!-- #header -->


</nav>
      


<!-- <#%= image_tag("trip.png", size: "150x75", alt: "Trip Collaborator") %>  -->