<!-- make this an image and display on every page -->
<header>
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1>TripCollaborator</h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <!-- <li class="divider"></li> -->
        <li>Sign Up</li>
        <li class="divider"></li>
        <li>Login</li>
        <!-- <li class="divider"></li> -->
      </ul>
    </section>
  </nav>
</header><!-- #header -->


</nav>
      

<!-- <#%= image_tag("trip.png", size: "150x75", alt: "Trip Collaborator") %>  -->