<!-- make this an image and display on every page -->
<header>
  <div class="center">
    <div class="row">
      <%= image_tag("trip.png", size: "150x75", alt: "Trip Collaborator") %> 
      <div id='navbar'>
      <ul>
        <li>Sign In</li>
        <li>Create Account</li>
      </ul> 
      </div> <!-- end .navbar -->
    </div>  <!-- end .row -->
  </div> <!-- end .center -->
</header><!-- #header -->

